In [1]:
import pandas as pd
import numpy as np
import os
import requests
import json
from datetime import datetime

In [2]:
filepath="data\unzipped\2013-citibike-tripdata\201306-citibike-tripdata.csv"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: truncated \uXXXX escape (3435867970.py, line 1)

In [3]:
df=pd.read_csv(filepath)

NameError: name 'filepath' is not defined

In [ ]:
Token = 'requests.get()

In [ ]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00094846&startdate=2018-01-01&enddate=2018-12-31', headers={'token':Token})

In [ ]:
d = json.loads(r.text)

In [ ]:
# Secure all items in the response that correspond to TAVG

avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
# Get only the date field from all average temperature readings

data_temp = [item['date'] for item in avg_temps]
# Get the temperature from all average temperature readings

temps = [item['value'] for item in avg_temps]

In [ ]:
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]

In [ ]:
# Put the results in a dataframe

df_temps = pd.DataFrame()
# Get only date and case it to date time; convert temperature from tenths of celsius to normal celsius

df_temps['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp] 
df_temps['avgTemp'] = [float(v)/10.0 for v in temps]

In [ ]:
df_temp.tail()

In [ ]:
df_temp.head()

In [ ]:
df['start_time'] = pd.to_datetime(df['start_time'], dayfirst = True)
df['date'] = pd.to_datetime(df['start_time'], format='%Y-%m-%d').dt.date

In [ ]:
%%time
df_merged = df.merge(df_temp, how = 'left', on = 'date', indicator = True)

In [ ]:
CPU times: total: 29.7 s
Wall time: 35.4 s

In [ ]:
df_merged['_merge'].value_counts(dropna = False)

In [ ]:
both           36030882
left_only            0
right_only           0
Name: _merge, dtype: int64