#### Importing libraries

In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from datetime import datetime as dt
from streamlit_keplergl import keplergl_static

ModuleNotFoundError: No module named 'streamlit'

### Wrangle data

In [2]:
df = pd.read_csv('NY_CitiBike_data.csv', index_col = 0)

NameError: name 'pd' is not defined

In [3]:
df.dtypes

NameError: name 'df' is not defined

In [4]:
# Reset the index to make the date a column
df.reset_index(inplace=True)

NameError: name 'df' is not defined

In [5]:
df.dtypes

NameError: name 'df' is not defined

In [6]:
# Create a month column
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].dt.month
df['month'] = df['month'].astype('int')

NameError: name 'pd' is not defined

In [7]:
df.dtypes

NameError: name 'df' is not defined

In [8]:
# Create the season column

df['season'] = [
    "winter" if (month == 12 or month == 1 or month == 2)
    else "spring" if (month == 3 or month == 4 or month == 5)
    else "summer" if (month == 6 or month == 7 or month == 8)
    else "fall"
    for month in df['month']
]

NameError: name 'df' is not defined

In [9]:
df.shape

NameError: name 'df' is not defined

In [10]:
df.columns

NameError: name 'df' is not defined

### Create the plotly charts

In [11]:
## Groupby

df['value'] = 1 
df_groupby_bar = df.groupby('start_station_name', as_index=False).agg({'value': 'sum'})
top20 = df_groupby_bar.nlargest(20, 'value')

NameError: name 'df' is not defined

In [12]:
# Save the top 20 stations as a CSV file
top20.to_csv('top20.csv', index=False)

NameError: name 'top20' is not defined

In [13]:
# Aggregate temperature and bike rides to mean, grouped by date
df_agg = df.groupby(df['date'].dt.date).agg({
    'avgTemp': 'mean',
    'bike_rides_daily': 'mean'
}).reset_index()
df_agg['date'] = pd.to_datetime(df_agg['date'])

NameError: name 'df' is not defined

In [14]:
df_agg

NameError: name 'df_agg' is not defined

In [15]:
df_agg.to_csv('df_agg.csv', index=False)

NameError: name 'df_agg' is not defined

In [16]:
fig = go.Figure(go.Bar(x = top20['start_station_name'], y = top20['value'], marker={'color': top20['value'],'colorscale': 'Blues'}))
fig.show()

NameError: name 'go' is not defined

In [17]:
## Bar chart

fig.update_layout(
    title = 'Top 20 most popular bike stations in Chicago',
    xaxis_title = 'Start stations',
    yaxis_title ='Sum of trips',
    width = 900, height = 600
)

NameError: name 'fig' is not defined

### Dual-Axis Line Charts in Plotly

In [18]:
# Line chart
fig = make_subplots(specs = [[{"secondary_y": True}]])

fig.add_trace(
    go.Scatter(x=df_agg['date'], y=df_agg['bike_rides_daily'], name='Daily bike rides', marker={'color': 'blue'}),
    secondary_y=False
)

fig.add_trace(
    go.Scatter(x=df_agg['date'], y=df_agg['avgTemp'], name='Daily temperature', marker={'color': 'red'}),
    secondary_y=True
)
fig.update_layout(
title = 'Daily bike trips and temperatures in 2022',
height = 600
)

NameError: name 'make_subplots' is not defined

In [19]:
df.columns

NameError: name 'df' is not defined

In [20]:
df_1 = df.loc[:, ['start_station_name', 'end_station_name', 'date', 'avgTemp', 'value', 'bike_rides_daily', 'season']]

NameError: name 'df' is not defined

In [21]:
df_1.columns

NameError: name 'df_1' is not defined

### Reduce the row and column count

In [22]:
# Create a copy with fewer columns
df_1 = df.drop(columns={'date', 'started_at', 'ended_at', 'ride_id', 'rideable_type',
                         'trip_duration', 'start_station_id', 'end_station_id', 'member_casual', 'month'})

NameError: name 'df' is not defined

### Create a random split

In [23]:
np.random.seed(32)
red = np.random.rand(len(df_1)) <= 0.92

NameError: name 'np' is not defined

In [24]:
small = df_1[~red]

NameError: name 'df_1' is not defined

In [25]:
small.shape

NameError: name 'small' is not defined

In [26]:
small.to_csv('reduced_data.csv',index = False)

NameError: name 'small' is not defined

In [27]:
df_1.to_csv('reduced_data_to_plot.csv', index=False)

NameError: name 'df_1' is not defined